name: Release

on:
  push:
    tags:
      - '*'

permissions:
  contents: write

jobs:
  release:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@master
      - name: Setup
        uses: leafo/gh-actions-lua@v12
      - name: Build
        run: lua makelove all
      - name: Release
        uses: softprops/action-gh-release@v2
        with:
          prerelease: true
          make_latest: "true"
          files: |
            lasagna.love
            lasagna-linux.tar.gz
            lasagna-mac.zip
            lasagna-windows.zip
